In [ ]:
print(45+18)
print(30-12)
print(15*6)
print(type(30/3))
print(45%8)

63
18
90
<class 'float'>
5

In [ ]:
print("今日の天気は"+"晴れ")
print("降水確率" + str(50) + "%")
print("晴れ" *5)
print(-100)
print(12345678908888)

今日の天気は晴れ
降水確率50%
晴れ晴れ晴れ晴れ晴れ
-100
12345678908888

# 課題：変数を使って四則演算しよう

In [6]:
# 四則演算で台形の面積を求める #
jyouhen = 10  #上辺
kahen = 20    #下辺
takasa = 5    #高さ
kousiki = "公式：台形の面積 =（上辺＋下辺）× 高さ ÷ 2"
senchi = "cm"

print("上辺：" + str(jyouhen) + senchi)
print("下辺：" + str(kahen) + senchi)
print("高さ：" + str(takasa) + senchi)
print(kousiki)
menseki = (jyouhen + kahen) * takasa / 2
print("台形の面積：" + str(int(menseki)) + "㎠")

上辺：10cm
下辺：20cm
高さ：5cm
公式：台形の面積 =（上辺＋下辺）× 高さ ÷ 2
台形の面積：75㎠

In [ ]:
print(45+18)
print(30-12)
print(15*6)
print(30/3)
print(45%8)

63
18
90
10.0
5

In [ ]:
user_name="侍太郎"
print(user_name)

侍太郎

In [ ]:
user_name="侍太郎"
print(user_name)
user_name="侍HANAKO"
print(user_name)

侍太郎
侍HANAKO

In [ ]:
number1=5
number2=2.5
print(number1+number2)

last_name="侍"
first_name="TARO"
print(last_name+first_name)

7.5
侍TARO

# 配列（リスト・タプル・セット）

In [ ]:
user_name = ["侍太郎","侍一郎","侍二郎","侍三郎","侍四郎"]
user_ages = [36,33,29,25,22]

#要素の2番目を表示する
print(user_name[1])

#配列の全要素を表示
print(user_ages)

#配列の要素を更新
user_name[1] = "侍花子"
print(user_name[1])

侍一郎
[36, 33, 29, 25, 22]
侍花子

In [ ]:
user_name = ["侍太郎","侍一郎","侍二郎","侍三郎","侍四郎"]

#要素を追加
user_name.append("侍ゴロリ")
print(user_name)

#要素を削除 (3番目を削除)
user_name.pop(2)
print(user_name)

['侍太郎', '侍一郎', '侍二郎', '侍三郎', '侍四郎', '侍ゴロリ']
['侍太郎', '侍一郎', '侍三郎', '侍四郎', '侍ゴロリ']

In [ ]:
user_name = ["侍太郎","侍一郎","侍二郎","侍三郎","侍四郎"]

print(user_name[1])

user_name[1] = "侍花子" #要素変更
print(user_name)

user_name.append("侍ゴロリ")  #要素追加
print(user_name)

user_name.pop(2)  #要素を削除 (3番目を削除)
print(user_name)

侍一郎
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎']
['侍太郎', '侍花子', '侍二郎', '侍三郎', '侍四郎', '侍ゴロリ']
['侍太郎', '侍花子', '侍三郎', '侍四郎', '侍ゴロリ']

In [ ]:
#タプル：要素の追加・変更・削除が行えない配列

countory_names = ("日本","アメリカ","イギリス","フランス","カナダ")
print(countory_names[2])

#タプルは値の変更ができないため下記はエラーになる
# countory_names[2] = "ドイツ"

イギリス